<html lang = "en">
<head>

    <meta charset ="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>Tic-Tac-Toe</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">

</head>
    <body>
      <table>
          <tr>
            <td  id=0>
              <div id ="0a"></div>
              <table id ="0b" class="subtable">
                  <tr>
                    <td class = "cell" id=10></td>
                    <td class = "cell" id=11></td>
                    <td class = "cell" id=12></td>
                  </tr>
                  <tr>
                    <td class = "cell" id=13></td>
                    <td class = "cell" id=14></td>
                    <td class = "cell" id=15></td>
                  </tr>
                  <tr>
                    <td class = "cell" id=16></td>
                    <td class = "cell" id=17></td>
                    <td class = "cell" id=18></td>
                  </tr>
                </table>
            </td>
            <td  id=1>
              <div id ="1a"></div>
              <table id ="1b" class="subtable">
                  <tr>
                    <td class = "cell" id=20></td>
                    <td class = "cell" id=21></td>
                    <td class = "cell" id=22></td>
                  </tr>
                  <tr>
                    <td class = "cell" id=23></td>
                    <td class = "cell" id=24></td>
                    <td class = "cell" id=25></td>
                  </tr>
                  <tr>
                    <td class = "cell" id=26></td>
                    <td class = "cell" id=27></td>
                    <td class = "cell" id=28></td>
                  </tr>
                </table>
            </td>
            <td  id=2>
              <div id ="2a"></div>
              <table id ="2b" class="subtable">
                  <tr>
                    <td class = "cell" id=30></td>
                    <td class = "cell" id=31></td>
                    <td class = "cell" id=32></td>
                  </tr>
                  <tr>
                    <td class = "cell" id=33></td>
                    <td class = "cell" id=34></td>
                    <td class = "cell" id=35></td>
                  </tr>
                  <tr>
                    <td class = "cell" id=36></td>
                    <td class = "cell" id=37></td>
                    <td class = "cell" id=38></td>
                  </tr>
                </table>
            </td>
          </tr>
          <tr>
            <td  id=3>
              <div id ="3a"></div>
              <table id ="3b" class="subtable">
                  <tr>
                    <td class = "cell" id=40></td>
                    <td class = "cell" id=41></td>
                    <td class = "cell" id=42></td>
                  </tr>
                  <tr>
                    <td class = "cell" id=43></td>
                    <td class = "cell" id=44></td>
                    <td class = "cell" id=45></td>
                  </tr>
                  <tr>
                    <td class = "cell" id=46></td>
                    <td class = "cell" id=47></td>
                    <td class = "cell" id=48></td>
                  </tr>
                </table>
            </td>
            <td  id=4>
              <div id ="4a"></div>
              <table id ="4b" class="subtable">
                  <tr>
                    <td class = "cell" id=50></td>
                    <td class = "cell" id=51></td>
                    <td class = "cell" id=52></td>
                  </tr>
                  <tr>
                    <td class = "cell" id=53></td>
                    <td class = "cell" id=54></td>
                    <td class = "cell" id=55></td>
                  </tr>
                  <tr>
                    <td class = "cell" id=56></td>
                    <td class = "cell" id=57></td>
                    <td class = "cell" id=58></td>
                  </tr>
                </table>
            </td>
            <td  id=5>
              <div id ="5a"></div>
              <table id ="5b" class="subtable">
                  <tr>
                    <td class = "cell" id=60></td>
                    <td class = "cell" id=61></td>
                    <td class = "cell" id=62></td>
                  </tr>
                  <tr>
                    <td class = "cell" id=63></td>
                    <td class = "cell" id=64></td>
                    <td class = "cell" id=65></td>
                  </tr>
                  <tr>
                    <td class = "cell" id=66></td>
                    <td class = "cell" id=67></td>
                    <td class = "cell" id=68></td>
                  </tr>
                </table>
            </td>
          </tr>
          <tr>
            <td  id=6>
              <div id ="6a"></div>
              <table id ="6b" class="subtable">
                  <tr>
                    <td class = "cell" id=70></td>
                    <td class = "cell" id=71></td>
                    <td class = "cell" id=72></td>
                  </tr>
                  <tr>
                    <td class = "cell" id=73></td>
                    <td class = "cell" id=74></td>
                    <td class = "cell" id=75></td>
                  </tr>
                  <tr>
                    <td class = "cell" id=76></td>
                    <td class = "cell" id=77></td>
                    <td class = "cell" id=78></td>
                  </tr>
                </table>
            </td>
            <td  id=7>
              <div id ="7a"></div>
              <table id ="7b" class="subtable">
                  <tr>
                    <td class = "cell" id=80></td>
                    <td class = "cell" id=81></td>
                    <td class = "cell" id=82></td>
                  </tr>
                  <tr>
                    <td class = "cell" id=83></td>
                    <td class = "cell" id=84></td>
                    <td class = "cell" id=85></td>
                  </tr>
                  <tr>
                    <td class = "cell" id=86></td>
                    <td class = "cell" id=87></td>
                    <td class = "cell" id=88></td>
                  </tr>
                </table>
            </td>
            <td  id=8>
              <div id ="8a"></div>
              <table id ="8b" class="subtable">
                  <tr>
                    <td class = "cell" id=90></td>
                    <td class = "cell" id=91></td>
                    <td class = "cell" id=92></td>
                  </tr>
                  <tr>
                    <td class = "cell" id=93></td>
                    <td class = "cell" id=94></td>
                    <td class = "cell" id=95></td>
                  </tr>
                  <tr>
                    <td class = "cell" id=96></td>
                    <td class = "cell" id=97></td>
                    <td class = "cell" id=98></td>
                  </tr>
                </table>
            </td>
          </tr>
        </table>

      <div id="win" class= win onclick="hide()"></div>
      <script>
      function hide()
      {
      document.getElementById("win").style.visibility = "hidden"
      }
      </script>
      <script>var user = '{{user}}' </script>
      <script type="text/javascript" src="{{ url_for('static', filename='scripts.js')}}"></script>
    </body>
</html>
