<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
    <h1>Welcome to Tic-Tac-Toes</h1>

    <form method="POST">
    <input class="a" placeholder="Enter your name" name= "name"></input>
    <br><br>
     <input class = "b" type="Submit" value="Enter"></input>
    </form>
    <div style="text-align: center; color:red;">{{taken}}</div>
  </body>
</html>
